<%- include("templates/admin_header") %>
<div class="flex items-center justify-center h-screen relative">
  <div class="bg-white overflow-hidden shadow rounded-lg border mb-[60px]">
      <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
              User Profile
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
              You can change your info by clicking, editing, then hitting Save.
          </p>
      </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      MRAD_ID
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <form action=""></form>
                      <%= student[0].MRAD_id %>
                    </dd>
                </div>
                <!-- <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      <%= student[0].name %>
                    </dd>
                </div> -->
            </dl>
        </div>
      <div class="px-4 py-5 sm:px-6">
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
              If you would like to view their selections, please scroll down.
          </p>
      </div>
  </div>
</div>

<!-- clinical selection starts here -->
<div class="flex flex-col h-screen bg-gray-200">
  <div class="flex flex-col items-center justify-center px-4 py-5 sm:px-6 relative">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Clinical Selections</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Admin can make changes to the final clinical placement only.
    </p>
  </div>

  <!-- final placement starts here -->
  <div class="m-auto w-full max-w-4xl p-4 bg-white shadow-lg rounded-lg">
    <h2 class="text-gray-700 font-bold mb-4"><%= student[0].MRAD_id%>'s Final Clinical Placement</h2>
    <div class="overflow-y-auto">
      <ul>
        <% if(finalSelection.length == 1) { %>
          <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
            <div class="flex mt-2">
              <form action="/updateFinalPlacement" method="post">
                <input type="hidden" name="MRAD_id" value="<%= student[0].MRAD_id %>">
                <input type="hidden" name="finalPlacementID" value="<%= finalSelection[0].final_placement_id %>">
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">Term 2:</span>
                  <input type="text" name="site_one" value="<%= finalSelection[0].site_one %>" class="ml-2 text-gray-700">
                </label>
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">Term 4:</span>
                  <input type="text" name="site_two" value="<%= finalSelection[0].site_two %>" class="ml-2 text-gray-700">
                </label>
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">Term 6:</span>
                  <input type="text" name="site_three" value="<%= finalSelection[0].site_three %>" class="ml-2 text-gray-700">
                </label>
            
                <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out">Submit</button>
              </form>
            </div>
          </li>
        <% } else { %>
            <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
              <div class="flex mt-2">
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">Final Placements not distributed currently.</span>
                </label>
              </div>
            </li>
          <% } %>
      </ul>
    </div>
  </div>


  <!-- test here -->

  <div class="m-auto w-full max-w-4xl p-4 bg-white shadow-lg rounded-lg">
    <h2 class="text-gray-700 font-bold mb-4"><%= student[0].MRAD_id%>'s Selection Choices</h2>

    <!-- Selections List -->
    <div class="overflow-y-auto">
      <ul id="usersList">
        <% if(student[0]) { %>
        <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
          <div class="flex justify-between">
            <span class="font-medium text-gray-700">Choice 1</span>
          </div>
          <div class="flex mt-2">
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">1. <%= student[0].Site1 %></span>
            </label>
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">2. <%= student[0].Site2 %></span>
            </label>
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">3. <%= student[0].Site3 %></span>
            </label>
          </div>
        </li>
        <% } %>

        <% if(student[1]) { %>
        <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
          <div class="flex justify-between">
            <span class="font-medium text-gray-700">Choice 2</span>
          </div>
          <div class="flex mt-2">
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">1. <%= student[1].Site1 %></span>
            </label>
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">2. <%= student[1].Site2 %></span>
            </label>
            <label class="inline-flex items-center ml-4">
              <span class="ml-2 text-gray-700">3. <%= student[1].Site3 %></span>
            </label>
          </div>
        </li>
        <% } %>

        <% if(student[2]) { %>
          <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
            <div class="flex justify-between">
              <span class="font-medium text-gray-700">Choice 3</span>
            </div>
            <div class="flex mt-2">
              <label class="inline-flex items-center ml-4">
                <span class="ml-2 text-gray-700">1. <%= student[2].Site1 %></span>
              </label>
              <label class="inline-flex items-center ml-4">
                <span class="ml-2 text-gray-700">2. <%= student[2].Site2 %></span>
              </label>
              <label class="inline-flex items-center ml-4">
                <span class="ml-2 text-gray-700">3. <%= student[2].Site3 %></span>
              </label>
            </div>
          </li>
          <% } %>

          <% if(student[3]) { %>
            <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
              <div class="flex justify-between">
                <span class="font-medium text-gray-700">Choice 4</span>
              </div>
              <div class="flex mt-2">
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">1. <%= student[3].Site1 %></span>
                </label>
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">2. <%= student[3].Site2 %></span>
                </label>
                <label class="inline-flex items-center ml-4">
                  <span class="ml-2 text-gray-700">3. <%= student[3].Site3 %></span>
                </label>
              </div>
            </li>
            <% } %>

            <% if(student[4]) { %>
              <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
                <div class="flex justify-between">
                  <span class="font-medium text-gray-700">Choice 5</span>
                </div>
                <div class="flex mt-2">
                  <label class="inline-flex items-center ml-4">
                    <span class="ml-2 text-gray-700">1. <%= student[4].Site1 %></span>
                  </label>
                  <label class="inline-flex items-center ml-4">
                    <span class="ml-2 text-gray-700">2. <%= student[4].Site2 %></span>
                  </label>
                  <label class="inline-flex items-center ml-4">
                    <span class="ml-2 text-gray-700">3. <%= student[4].Site3 %></span>
                  </label>
                </div>
              </li>
              <% } %>
      </ul>
    </div>
  </div>
</div>

<!-- test here -->
</div>
</div>
<%- include ("templates/footer") %>