<%- include("templates/header") %>

<div class="flex flex-col h-screen bg-gray-200">
  <div class="m-auto w-full max-w-4xl p-4 bg-white shadow-lg rounded-lg">
    <h2 class="text-gray-700 font-bold mb-4">Students (Admin)</h2>

    <!-- Search box -->
    <div class="mb-4">
      <input type="text" placeholder="Search"
             class="w-full py-2 px-3 mb-6 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/>
    </div>

    <!-- Users List -->
    <div class="overflow-y-auto">
      <ul id="usersList">
        <% students.forEach(function(student) { %>
          <li class="flex flex-col py-2 px-4 bg-gray-100 mt-2 rounded shadow-sm">
            <div class="flex justify-between">
              <span class="font-medium text-gray-700"><%= student.name %></span>
              <button
                class="text-blue-500 hover:text-blue-700 focus:outline-none focus:underline transition duration-150 ease-in-out"
              >
                View
              </button>
            </div>
            <div class="flex mt-2">
              <label class="inline-flex items-center">
                <input type="checkbox" class="form-checkbox text-blue-600" id="interiorBC<%= student.id %>">
                <span class="ml-2 text-gray-700">Interior BC Only</span>
              </label>
              <label class="inline-flex items-center ml-4">
                <input type="checkbox" class="form-checkbox text-blue-600" id="lowerMainland<%= student.id %>">
                <span class="ml-2 text-gray-700">Lower Mainland Only</span>
              </label>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<%- include ("templates/footer") %>
