<%- include("templates/admin_header") %>
    

<div class="bg-gray-200 p-3">

    <div class="m-auto w-full max-w-6xl p-8 bg-white/80 backdrop-blur-md shadow-xl rounded-xl">
        <h1 class="text-2xl font-bold mb-4 inline">Clinical Sites</h1>
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="inline float-right text-white mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Add Clinical Site
        </button>

        <!-- Table -->
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr>
                <th class="py-2 px-4 border-b">Clinical Site Name</th>
                <th class="py-2 px-4 border-b">Clinical Site Spots</th>
                <th class="py-2 px-4 border-b">Active?</th>
                <th class="py-2 px-4 border-b">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% sites.forEach(function(site) { %>
                    <form action="/updateSites" method="post">
                        <tr>
                            <input type="hidden" name="siteID" value="<%= site.clinical_sites_id %>">
                            <td class="py-2 px-4 border-b"><input type="text" name="siteName" value="<%= site.site_name %>" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/></td>
                            <td class="py-2 px-4 border-b text-center"><input type="text" name="siteSpots" value="<%= site.total_spots %>" class="w-1/4 py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/></td>
                        <% if (site.is_active === 1) { %>
                            <td class="py-2 px-4 border-b text-center"><input type="checkbox" name="active" id="active" checked></label></td>
                        <%} else if(site.is_active === 2) { %>
                            <td class="py-2 px-4 border-b text-center"><input type="checkbox" name="active" id="active" ></label></td>
                        <% } %>
                            <td class="py-2 px-4 border-b text-center">
                                <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out">Update Sites
                            </td>
                        </tr>
                    </form>
                <% }) %>
                <% var total = 0;
                sites.forEach(function(site) {
                    if(site.is_active === 1){
                        total += site.total_spots;
                    }
                }) %>
                    <tr>
                        <td class="py-2 px-4 border-b">Total</td>
                        <td class="py-2 px-4 border-b text-center"><%= total %></td>
                    </tr>
            </tbody>
        </table>

        <!-- Centered Student Profile Form -->
        <!-- <h2 class="text-black font-bold mb-4">Add Clinical Site</h2>
        <form id="clinicalSiteForm" class="space-y-4 pb-4" action="/addClinicalSite" method="post">
            <div class="mb-4">
                <label for="siteName" class="block text-gray-700 font-bold mb-2">Site Name:</label>
                <input type="text" id="siteName" name="siteName" placeholder="Enter site name"
                        class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/>
            </div>
        
            <div class="mb-4">
                <label for="siteSpots" class="block text-gray-700 font-bold mb-2">Site Spots:</label>
                <input type="number" id="spotsNumber" name="spotsNumber" placeholder="Enter a number" 
                        class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500"/>
            </div>
        
            <div class="mb-4">
                <label for="siteLocation" class="block text-gray-700 font-bold mb-2">Zone:</label>
                <select id="siteLocation" name="siteLocation" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:border-blue-500">
                    <option value="" disabled selected>Select site location</option>
                    <option value="Interior BC">Interior BC</option>
                    <option value="Lower Mainland">Lower Mainland</option>
                </select>
                </div>
        
            <div class="form-group">
                <button type="submit"
                        class="mt-4 w-full bg-green-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 transition duration-150 ease-in-out">
                Add Clinical Site
                </button>
            </div>
        </form> -->
    </div>
</div> 

<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create New Clinical Site
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="clinicalSiteForm" class="p-4 md:p-5" action="/addClinicalSite" method="post">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="siteName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text" id="siteName" name="siteName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter site name" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="spotsNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Spots</label>
                        <input type="number" id="spotsNumber" name="spotsNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter a number" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="siteLocation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zone</label>
                        <select id="siteLocation" name="siteLocation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="" disabled selected>Select site location</option>
                            <option value="Interior BC">Interior BC</option>
                            <option value="Lower Mainland">Lower Mainland</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Add clinical site
                </button>
            </form>
        </div>
    </div>
</div> 


<%- include ("templates/footer") %>