<%- include("templates/header") %> 

<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-green-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
 
 <aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto dark:bg-[#333d29]">
        <form action="saveChoices" method="post">
            <ul class="space-y-2 font-medium">
                <!-- TITLE -->
                <li>
                    <div class="text-4xl font-bold text-white">
                        MRAD<span class="text-green-700">.</span>
                    </div>
                </li>     
        
                <!-- CHOICE 1 -->
                <li data-choice="1">
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-white dark:hover-bg-green-800" aria-controls="choice-1" data-collapse-toggle="choice-1" onclick="toggleChoice(1)">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Choice 1</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                    </button>
                    <ul id="choice-1" class="hidden py-2 space-y-2">
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="line-1">Line # _</span>
                            <input type="text" data-choice="line-number-1" value="" hidden/>
                            <input type="text" name="oneLine" data-choice="line-id-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="1-1">1. None</span>
                            <input type="text" name="one" data-choice="input-1-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="1-2">2. None</span>
                            <input type="text" name="one" data-choice="input-1-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="1-3">3. None</span>
                            <input type="text" name="one" data-choice="input-1-3" value="" hidden/>
                        </li>
                    <!-- Add other choice options here -->
                    </ul>
                </li>
        
                <!-- CHOICE 2 -->
                <li data-choice="2">
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-white dark:hover-bg-green-800" aria-controls="choice-2" data-collapse-toggle="choice-2" onclick="toggleChoice(2)">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Choice 2</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                    </button>
                    <ul id="choice-2" class="hidden py-2 space-y-2">
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="line-2">Line # _</span>
                            <input type="text" data-choice="line-number-2" value="" hidden/>
                            <input type="text" name="twoLine" data-choice="line-id-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="2-1">1. None</span>
                            <input type="text" name="two" data-choice="input-2-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="2-2">2. None</span>
                            <input type="text" name="two" data-choice="input-2-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="2-3">3. None</span>
                            <input type="text" name="two" data-choice="input-2-3" value="" hidden/>
                        </li>
                    <!-- Add other choice options here -->
                    </ul>
                </li>
        
                <!-- CHOICE 3 -->
                <li data-choice="3">
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-white dark:hover-bg-green-800" aria-controls="choice-3" data-collapse-toggle="choice-3" onclick="toggleChoice(3)">
                        <span class="flex-1 ml-3 text-left whitespace-nowrap">Choice 3</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <ul id="choice-3" class="hidden py-2 space-y-2">
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="line-3">Line # _</span>
                            <input type="text" data-choice="line-number-3" value="" hidden/>
                            <input type="text" name="threeLine" data-choice="line-id-3" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="3-1">1. None</span>
                            <input type="text" name="three" data-choice="input-3-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="3-2">2. None</span>
                            <input type="text" name="three" data-choice="input-3-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="3-3">3. None</span>
                            <input type="text" name="three" data-choice="input-3-3" value="" hidden/>
                        </li>
                        <!-- Add other choice options here -->
                    </ul>
                </li>
        
                <!-- CHOICE 4 -->
                <li data-choice="4">
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-white dark:hover-bg-green-800" aria-controls="choice-4" data-collapse-toggle="choice-4" onclick="toggleChoice(4)">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Choice 4</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                    </button>
                    <ul id="choice-4" class="hidden py-2 space-y-2">
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="line-4">Line # _</span>
                            <input type="text" data-choice="line-number-4" value="" hidden/>
                            <input type="text" name="fourLine" data-choice="line-id-4" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="4-1">1. None</span>
                            <input type="text" name="four" data-choice="input-4-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="4-2">2. None</span>
                            <input type="text" name="four" data-choice="input-4-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="4-3">3. None</span>
                            <input type="text" name="four" data-choice="input-4-3" value="" hidden/>
                        </li>
                    <!-- Add other choice options here -->
                    </ul>
                </li>
        
                <!-- CHOICE 5 -->
                <li data-choice="5">
                    <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group dark:text-white dark:hover-bg-green-800" aria-controls="choice-5" data-collapse-toggle="choice-5" onclick="toggleChoice(5)">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Choice 5</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                    </button>
                    <ul id="choice-5" class="hidden py-2 space-y-2">
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="line-5">Line # _</span>
                            <input type="text" data-choice="line-number-5" value="" hidden/>
                            <input type="text" name="fiveLine" data-choice="line-id-5" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="5-1">1. None</span>
                            <input type="text" name="five" data-choice="input-5-1" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="5-2">2. None</span>
                            <input type="text" name="five" data-choice="input-5-2" value="" hidden/>
                        </li>
                        <li>
                            <span class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group dark:text-white" data-choice="5-3">3. None</span>
                            <input type="text" name="five" data-choice="input-5-3" value="" hidden/>
                        </li>
                    <!-- Add other choice options here -->
                    </ul>
        
                 </li>
                <!-- SAVE BUTTON -->
                <li>
                <button type="submit" class="border border-gray-100 flex items-center justify-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-green-100 dark:text-white dark:hover:bg-green-800">
                    <span class="flex-1 ml-3 whitespace-nowrap">Save Choices</span>
                </button>
                </li>
                <% if (requestMsg) { %>
                    <li>
                        <span class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group ml-3"><%= requestMsg %></span>
                    </li>
                <% } %>
               </ul>
        </form>
    </div>
 </aside>
 
 <div class="p-4 sm:ml-64" style="background-image: url(/photos/selection.jpg)">
    <div class='flex w-full'>
        <div class='flex flex-col w-full'>
            <div class="grid grid-cols-4 bg-[#333d29] text-white rounded-lg">
                <div class="flex p-4 justify-center items-center">
                    <div class='has-tooltip px-1 hover:cursor-pointer'>
                        <span class='tooltip rounded shadow-lg p-1 bg-gray-500'>
                            <div class="flex pl-2 items-center">
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="red" />
                                </svg>
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="red" />
                                </svg>
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="red" />
                                </svg>
                                 = High Demand
                            </div>
                            <div class="flex pl-2 items-center">
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="gold" />
                                </svg>
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="gold" />
                                </svg>
                                 = Somewhat Demand
                            </div>
                            <div class="flex pl-2 items-center">
                                <svg height="10" width="10" class="mr-2">
                                    <circle cx="5" cy="5" r="5" fill="green" />
                                </svg>
                                 = Moderate Demand
                            </div>
                        </span>
                        <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 302.967 302.967" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path style="fill:#ffffff;" d="M151.483,302.967C67.956,302.967,0,235.017,0,151.483S67.956,0,151.483,0 s151.483,67.956,151.483,151.483S235.017,302.967,151.483,302.967z M151.483,24.416c-70.066,0-127.067,57.001-127.067,127.067 s57.001,127.067,127.067,127.067s127.067-57.001,127.067-127.067S221.555,24.416,151.483,24.416z"></path> </g> <g> <g> <path style="fill:#ffffff;" d="M116.586,118.12c1.795-4.607,4.297-8.588,7.511-11.961c3.225-3.389,7.114-6.016,11.667-7.898 c4.547-1.904,9.633-2.845,15.262-2.845c7.261,0,13.32,0.995,18.183,2.997c4.857,1.996,8.768,4.482,11.738,7.441 c2.964,2.97,5.091,6.168,6.369,9.584c1.273,3.432,1.915,6.636,1.915,9.595c0,4.901-0.642,8.947-1.915,12.118 c-1.278,3.171-2.866,5.88-4.759,8.131c-1.898,2.252-3.987,4.172-6.293,5.755c-2.295,1.588-4.471,3.171-6.516,4.759 c-2.045,1.583-3.862,3.394-5.445,5.439c-1.588,2.04-2.589,4.601-2.991,7.664v5.831H140.6v-6.908 c0.305-4.395,1.153-8.072,2.529-11.036c1.382-2.964,2.991-5.499,4.83-7.598c1.844-2.089,3.786-3.911,5.836-5.445 c2.04-1.539,3.927-3.073,5.673-4.591c1.73-1.545,3.144-3.225,4.221-5.069c1.071-1.833,1.556-4.15,1.452-6.908 c0-4.705-1.148-8.18-3.454-10.427c-2.295-2.257-5.493-3.378-9.589-3.378c-2.758,0-5.134,0.533-7.131,1.605 s-3.628,2.513-4.911,4.302c-1.278,1.795-2.225,3.894-2.834,6.288c-0.615,2.415-0.919,4.982-0.919,7.756h-22.55 C113.85,127.785,114.791,122.732,116.586,118.12z M162.536,183.938v23.616h-24.09v-23.616H162.536z"></path> </g> </g> </g> </g> </g></svg>
                    </div>
                    Line #
                </div>
                <div class="flex p-4 justify-center">
                    Location 1
                </div>
                <div class="flex p-4 justify-center">
                    Location 2
                </div>
                <div class="flex p-4 justify-center">
                    Location 3
                </div>
            </div>
    
            <% for (let i = 0; i < options.length; i++) { %>
                <div class="test-option grid grid-cols-4 rounded-lg border-[2px] border-gray-500 h-32 m-3 shadow-lg hover:cursor-pointer bg-white opacity-70" draggable="true">
                    <div class="flex p-4 justify-center items-center mr-6">
                        <% if (options[i].Count >= 10) { %>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="red" />
                            </svg>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="red" />
                            </svg>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="red" />
                            </svg>
                        <% } else if (options[i].Count >= 3 ) { %>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="gold" />
                            </svg>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="gold" />
                            </svg>
                        <% } else { %>
                            <svg height="10" width="10" class="mr-2">
                                <circle cx="5" cy="5" r="5" fill="green" />
                            </svg>

                        <% } %>
                        <%= i + 1 %>
                        <input type="text" name="oneLine" data-choice="line-number-1" value=<%= options[i].line_option_id %> hidden/>
                    </div>
                    <div class="flex p-4 justify-center items-center">
                        <%= options[i].one %>
                    </div>
                    <div class="flex p-4 justify-center items-center">
                        <%= options[i].two %>
                    </div>
                    <div class="flex p-4 justify-center items-center ">
                        <%= options[i].three %>
                    </div>
                    <div>
                        <input class="line_id" type="text" name="oneLine" data-choice="line-number-1" value=<%= options[i].line_option_id %> hidden/>
                    </div>
                </div>
            <% } %>
        </div>
    </div> 
 </div>

<%- include("templates/footer") %> 